*{
    margin:0;
    padding:0;
}

body{
    overflow-y: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main--center{
    padding-top:20px;
    height:auto;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--grid{
    background-image: url('./img/background.png');
    background-size: cover;
    display: grid;
    width:53vw;
    aspect-ratio: 1/1;
    border: 1px solid #000;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.grid--item{
    z-index: 10;
    border: 1px solid black;
    user-select: none;
    position: relative;
    width: 5vw;
}
.grid--num{
    text-align: right;
    font-size: 1.6vw;
}

.character{
    text-align: center;
    padding-top: 30%;
    font-size:10px;
    top:0;
    width:100%;
    height: 100%;
    background-position: 50% 55%;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
    
}



#mainContent {
    display: none;
}

#printQuestion{
    width:100%;
    height:70px;
    text-align: center;
    font-size:50px;
    user-select: none;
}

button{
    cursor: pointer;
    user-select: none;
}

#playerTurn{
    height:50px;
    width:100%;
    text-align: center;
    font-size: 40px;
    user-select: none;
}

#settings{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
}

#settingsFields{
    display: flex;
    align-items: center;
    justify-content: center;
}
#settingTitle{
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
}
#settingOption{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nextSetting{
    margin-top: 50px;
}
.character-disp{
    left: 0;
    top:0;
    width:100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    transition: 0.5s background-color;
}

.character-disp:hover{
    background-color:  rgb(18, 188, 235);
}